# Игнорировать все файлы с расширением .log
*.log

# Игнорировать временные файлы
tmp/
temp/

# Игнорировать все файлы и папки в папке node_modules
node_modules/

# Игнорировать файлы конфигурации среды
.env
*.env

# Игнорировать файлы, сгенерированные IDE
*.idea/
*.vscode/
*.sublime-project
*.sublime-workspace

# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать исполняемые файлы
*.exe
*.out

# Игнорировать все архивы
*.zip
*.tar
*.gz
*.rar

# Игнорировать все файлы в директории internal
/internal/*
